version: 6.0.{build}
image: Visual Studio 2019
configuration: Release
platform: Any CPU
init:
  - cmd: set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
install:
  - cmd: >-
      nuget install redis-64 -excludeversion

      redis-64\tools\redis-server.exe --service-install

      redis-64\tools\redis-server.exe --service-start
before_build:
  - cmd: nuget restore
build:
  project: StackExchange.Redis.Extensions.sln
  verbosity: minimal
