<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="redisCacheClient"
			   type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
	</configSections>

	<redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000">
		<hosts>
			<add host="127.0.0.1" cachePort="6379"/>
		</hosts>
	</redisCacheClient>
</configuration>