<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jil" version="2.7.0" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.5.8" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net45" />
  <package id="Sigil" version="4.3.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.371" targetFramework="net45" />
  <package id="xunit" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0-rc1-build2826" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0-rc1-build1030" targetFramework="net45" />
</packages>