<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jil" version="2.14.5" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.8.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Sigil" version="4.7.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.msbuild" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
</packages>